<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}- Ideal photo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/docs.min.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block nav %}{% include '::nav.html.twig'%}{% endblock %}
{% block body %}


{% endblock %}
{% block javascripts %}{% endblock %}

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>

</html>
